body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    color: #000;
    width: 1600px;
}
ul { list-style: none;
    padding-left: 0;
}
li {
    display: inline-block;
  }

.header {
    height: 80px;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
}
.row {
    margin: 25px 215px;
    display: flex;
    align-items: center;
    width: 1170px;
}
.logo {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
    text-align: right;
    padding-right: 93px;  
}
.nav {
    margin: 0 auto;
    margin-left: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;

}
.nav :hover {
    color: #2196F3;
}
.info>a {
    text-decoration: none;
    color: #757575;
    text-align: right;
    margin-left: 50px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.info :hover {
    color: #2196F3 
}
.nav-list {
    padding-right: 50px;
}
a:hover {
    text-decoration: underline;
}
span {
    color: #000;
}
li a {
    text-decoration: none;
}
button {
    background: #E5E5E5;
    border: none;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

}
button:hover {
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.baner {
    background: #2F303A;
    height: 600px;
}
.baner-blok {
    padding: 200px 452px;
    text-align: center;
}
.baner-title {
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.baner-button {
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    padding: .10px 32px;
}